* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    background-color: white;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center; /* Alinhar os elementos verticalmente */
    justify-content: space-between;
    background-color: rgba(218, 64, 64, 0.7);
}

header .imgLogo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

.navbar {

    justify-content: center;
    align-items: center;
}

.navbar nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
}


header .navbar nav ul li a{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 0 10px;
}


header .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header .button button{
    width: 70px;
    height: 40px;
    background-color: white;
    font-size: large;
}

main {
    display: block;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-wrap: wrap;
    
}

.carrosel {
    margin-top: 40px;
    height: 80vh; /* Altura máxima de 80% da altura do main */
    width: 100vw;
    flex-basis: 100;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.carrosel img {
    width: 70vw;
    height: 100%;
    object-fit: cover;
    background-color: black;
    background-size: cover;
}

.jumbo {
    height: 100%; /* Define o tamanho como 1/3 da altura da viewport */
    width: 30%; /* Define a largura como 100% para preencher a largura do carrossel */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    background-color: rgba(218, 64, 64, 0.5); /* Define uma cor de fundo com opacidade */
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.jumbo a{
    background-color: rgba(218, 64, 64, 0.2);
    color: white;
    border-color: white;
}

.jumbo a:hover{
    background-color: rgba(218, 64, 64, 0.1);
    color: white;
    border-color: white;
}



.content {
    margin: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: space;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.card-adjust {
    width: 100%;
    height: 200px;
    align-items: center;
}

.card {
    margin: 20px;
}


.carousel-item img {
    opacity: 0.7; /* Define a opacidade das imagens */
    transition: opacity 0.5s ease; /* Adiciona uma transição suave */
}

.carousel-caption {
    position: absolute; /* Posiciona o texto de forma absoluta */
    top: 50%; /* Alinha o texto verticalmente */
    left: 50%; /* Alinha o texto horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o texto */
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o conteúdo do texto */
    z-index: 1; /* Garante que o texto esteja acima da imagem */
}

.carousel-caption h5 {
    font-size: 2rem; /* Tamanho da fonte do título */
    margin-bottom: 0.5rem; /* Espaçamento inferior do título */
}

.carousel-caption p {
    font-size: 1.5rem; /* Tamanho da fonte do texto */
    margin-bottom: 0; /* Remove o espaçamento inferior do texto */
}
